* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #666666;
  text-align: center;
}
body {
  background: url(redox_02.png);
}

h1 {
  margin: 50px auto 20px;
}

.moves {
  margin: 20px auto;
}

#game-over {
  display: none;
}

#grid {
  width: 75%;
  margin: auto;
}

.tile {
  float: left;
  width: 23%;
  margin: 1%;
  position: relative;
}

.tile img {
  width: 100%;
  display: block;
  background-color: white;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  transition: transform 0.5s;
  border: 1px solid black;
}

.tile .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/logo-bw.png) center center no-repeat #eee;
  transition: transform 0.5s;
  border: 1px solid black;
}

.tile.open .back, .tile.match .back {
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

.tile.open img, .tile.match img {
  transform: rotateY(0deg);
}

.new-game {
  clear: both;
}
.new-game button {
  margin: 20px auto;
  width: 120px;
  height: 40px;
  font-size: 1em;
  background-color: white;
}
